{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-gray-950 min-h-screen flex items-center justify-center">
        <h1 class="text-white text-3xl font-bold">Hello World</h1>
    </div>
{% endblock %}
